
/* .slid{
    height: 263px !important;
    width: 300px !important;

} */
/* .test{
   width:300% !important;
   height: 390px !important;
} */
.tess{
    text-align: left!important;
}
.temm{
    text-align: left !important;
}
/* .ll{
    padding-bottom: 80px !important;
} */
.change{
    color: black !important;
}
